.titleWithLine {
    display: flex; 
    align-items: center; 
    color: black;
    font-size: 10px;
    margin-top: 5%;
  }
  
  .title {
    margin: 0; 
    font-size: 25px;
  }
  
  .greenLine {
    width: 89%; 
    height: 2px; 
    background-color: #C1D72F; 
    margin-left: 10px; 
    border-style:none;

  }
  