
.ContainerCardpresent {
  display: flex;
  width: max-content;

}
Span {
  color: rgb(108, 106, 106);
}
.Image {
  width: 120px;
  height: 120px;
  margin-top: 4px;
  border-radius: 60px;
  border-color: #c1d72f;
  border-style: solid;
}
