.ContainerTarget {
  background-color: white;
  border-style: solid;
  padding: 3px;
  border-color: rgb(248, 246, 246);
  border-radius: 7px;
  width: 200px;
  margin: 4px;
  padding: 8px;
}
.ContainerCardpresent {
  display: flex;
  width: max-content;
}
Span {
  color: rgb(108, 106, 106);
}
.Image {
  width: 120px;
  height: 120px;
  margin-top: 4px;
  border-radius: 60px;
  border-color: #c1d72f;
  border-style: solid;
}
