.ButtonSubmit{
    color: rgb(54, 52, 52);
    background-color: white;
    border-style: solid;
    border-color:#e7f58c ;
    width: 30%;
}

.containerCampos{
    width: auto;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 5%;
    
}

.campos{
    height: 50px;
    border-radius: 5px;
    border-style: solid;
    background-color:#e7f58c;
    width: 100%;
    border-color:#e7f58c ;

}
.form{
    background-color: #C1D72F;
    width: 500px;
    padding-top: 40px;
    padding-bottom: 2px;
    margin: 0 auto;
    margin-top: 5%;
}