
.ContainerNav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid rgb(248, 246, 246);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    z-index: 1000; /* Asegura que la barra esté por encima de otros elementos */
  }
  
 
  .ContentBelowNavbar {
    margin-top: 70px; 
  }
  
  .ContainerNav > div {
    display: flex; 
    align-items: center; 
  }
  
  .buttonNEW {
    background-color: #C1D72F; 
    border-radius: 5px; 
    margin-left: 10px; 
  }
  
  .a {
    color: black; 
    text-decoration: none; 
    margin-left: 25px; 
  }
  
  .a:active,
  .a:hover {
    color: #C1D72F; 
  }
  
  .ImagenNav {
    width: 50px; 
    height: 50px; 
    margin-right: 10px; 
  }
  
  .ContainerImageNav {
    background-color: rgb(183, 181, 181); 
    width: 60px; 
    height: 60px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-right: 20px; 
  }
  