.ContainerNav{
    display: flex;
    background-color: white;
    border-color:rgb(248, 246, 246);
    justify-content: space-between; 
    align-items: flex-start; 

  
}

.buttonNEW{
    background-color: #C1D72F;
    border-radius: 5px;
    margin-top: 5px;
    margin-right:5px ;
}
.a {
    color: black; 
    text-decoration: none; 
    margin-right: 25px;
}
  
.a:active {
    color: #C1D72F; 
}
.a:hover {
    color: #C1D72F; 
  }
.ImagenNav{
    width: 50px;
    height: 50px;
    margin-top: 4px;
    
}
.ContainerImageNav{
    background-color:rgb(183, 181, 181);
    width: 100px;
    margin-left:5px ;
}
